*,
*::before,
*::after{
	box-sizing:border-box; 
}
body {
	background: #EEFFFF ; 
	border: 1px solid black;
	padding: 0; 
	margin: 8px;  
}

a {
	text-decoration: none;
	text-transform: uppercase; 
}

.feed_settings {
        display: flex; 
}

.datafeeds{
	width: 80%; 
}

.settings {
	width: 20%;
	margin-right: 10px;   
}

.sliders, .options {
	margin-bottom: 10px;
}

.slider {
	width: 100%; 
}

.control_grid{
	display: grid;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0px;
	height: 100%;
	border: 1px solid black;  
}

#UP_box, #DOWN_box, #CENTER_box, #LEFT_box, #RIGHT_box {
	text-align: center;
	align-items: center;
	justify-content: center; 
        padding: 10px;  
        margin:  5px;
        border: 1px solid black;
        color: black;  
}

.button {
	background: white;
        text-align: center;
        align-items: center;
        justify-content: center; 
        padding: 10px;  
        margin:  5px;
        border: 1px solid black;
        color: black;  
}

.button:hover{
	background: #ABCDEF ; 
}

#UP { 
	justify-content: center;
	align-items: center; 
	grid-row-start: 1;
	grid-column-start: 2;
	grid-row-end: 2;
	grid-column-end: 3;	
}

#DOWN {
        justify-content: center;
        align-items: center;  
        grid-row-start: 3;
        grid-column-start: 2;      
        grid-row-end: 4;
        grid-column-end: 3;     
}

#CENTER { 
        justify-content: center;
        align-items: center;  
        grid-row-start: 2;
        grid-column-start: 2;      
        grid-row-end: 3;
        grid-column-end: 3;     
}

#LEFT { 
        justify-content: center;
        align-items: center;  
        grid-row-start: 2;
        grid-column-start: 1;      
        grid-row-end: 3;
        grid-column-end: 2;     
}

#RIGHT {  
        justify-content: center;
        align-items: center; 
	grid-row-start: 2;
        grid-column-start: 3;      
        grid-row-end: 3;
        grid-column-end: 4;     
}

#UP, #DOWN, #CENTER, #LEFT, #RIGHT {
	text-decoration: none;
        height: 100%;
	width: 100%;
        color: black;   
}
