<!DOCTYPE html>
<html>
  <head>
    <title>Raspberry Pi - Surveillance Camera</title>
  </head>

  <body>
    <center><h1>Raspberry Pi - Surveillance Camera</h1></center>
    
    <center>
      <img src="video_feed" width="{{ v_width }}" height="{{ v_height }}">
      <img src="maze_feed" width="{{ v_width }}" height="{{ v_height }}">
    </center>
    
    <center>
        <a href=# id=START><button>START</button></a>
        <a href=# id=STOP><button>STOP</button></a>
    </center>
    <center>
        <a href=# id=UP><button>UP</button></a>
        <a href=# id=DOWN><button>DOWN</button></a>
        <a href=# id=LEFT><button>LEFT</button></a>
        <a href=# id=RIGHT><button>RIGHT</button></a>
    </center>
    <center>
        <a href="capture" id=CAPTURE><button>SAVE</button></a>
    </center>
    </div>
  </body>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/buttons.js') }}"></script>

</html>
