<!DOCTYPE html>
<html>
  <head>
    <title>Raspberry Pi - Surveillance Camera</title>
  </head>

  <body>
    <center><h1>Raspberry Pi - Surveillance Camera</h1></center>
    
    <center>
      <img src="video_feed" width="{{ v_width }}" height="{{ v_height }}">
      <img src="maze_feed" width="{{ v_width }}" height="{{ v_height }}">
      <img src="ref_feed" width="{{ v_width }}" height="{{ v_height }}"> 
    </center>
    
    <center>
        <a href=# id=START><button>START</button></a>
        <a href=# id=STOP><button>STOP</button></a>
    </center>
    <center>
        <a href=# id=UP><button>UP</button></a>
        <a href=# id=DOWN><button>DOWN</button></a>
        <a href=# id=LEFT><button>LEFT</button></a>
        <a href=# id=RIGHT><button>RIGHT</button></a>
    </center>
    <center>
        <a href="capture" id=CAPTURE><button>SAVE</button></a>
    </center>
    <form method="post">
	<label for="Settings">Settings</label>
	<br>
        <p>Blur: <span id="blur"></span> </p>
	<input type="range" min="1" max="100" value="{{setting_blur}}" class="slider" id="blurRange"  name="blur"></input>
	<p>Threshold: <span id="thresh"></span> </p>
        <input type="range" min="1" max="100" value="{{setting_thresh}}" class="slider" id="threshRange"  name="thresh"></input>
        <p>Sensitivity: <span id="sens"></span>% </p>
        <input type="range" min="0" max="100" value="{{setting_sens}}" class="slider" id="sensRange"  name="sens"></input>
	<button type="submit" id="PAYLOAD">Submit</button>
   </form> 
  </body>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/buttons.js') }}"></script>
  <script>
  var blur_slider = document.getElementById("blurRange");
  var blur_val = document.getElementById("blur");
  blur_val.innerHTML = blur_slider.value;

  blur_slider.oninput = function() {
    blur_val.innerHTML = this.value;
  }
  var thresh_slider = document.getElementById("threshRange");
  var thresh_val = document.getElementById("thresh");
  thresh_val.innerHTML = thresh_slider.value;

  thresh_slider.oninput = function() {
    thresh_val.innerHTML = this.value;
  }
  var sens_slider = document.getElementById("sensRange");
  var sens_val = document.getElementById("sens");
  sens_val.innerHTML = sens_slider.value;

  sens_slider.oninput = function() {
    sens_val.innerHTML = this.value;
  }
  </script>

</html>
